html,body {     
  height: 100%;
  width: 100%;
  margin: 0 0 0 0; 
  text-align: center;     
}

#header_lung{
  width:16px;
  height: 18px;
}

.main_icon{
  width:91px;
  height:71px;
  background: url('http://www.healmydisease.com/13hiapulco/images/eval_icons.png') 0 0 ;
}

#hd_slide1{
  background-image: url('../images/1.png');
} 

#hd_slide2{
  background-image: url('../images/2.png');
}

#hd_slide3{
  background-image: url('../images/3.png');
} 

#hd_slide4{
  background-image: url('../images/4.png');
}

.btn{
  margin-left: 10px;
}

.sign_up{
  margin-left: -150px;
  width: 350px;
}

.info_index_title{
  text-align: left;
  padding-left: 21px;
  padding-bottom: 10px;
  text-decoration:underline;
}

.info_index_title2{
  text-align: left;
  padding-left: 0px;
  padding-bottom: 10px;
  text-decoration:underline;
}

.info_index_0{
  text-align: left;
  padding-left: 20px;
}

.info_index{
  text-align: left;
  padding-left: 20px;
}

.container {
  height: 84%;
}

#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 7%;
  background : #3A3A3A;
  padding-top: 2%;
  width: 100%;
  color: white;
  text-align: center;
}

.hd_slide{
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#usr, #pwd, #pwd1, #pwd2{
  height: 30px;
}

.logo{
  float: left;
  padding-left: 90px;
  padding-top: 20px;
  color: black
}

.logoimg{
  height: 170px;
  width: 200px;
}

.left_space{
  margin-left: 15px;
}

#banner{
  margin-top: 5px;
}

a{
  color: black;
}

.hide_me {display:none;}